<!DOCTYPE html>
<html>
<head>
  <title>Yelpclone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<div class="container">
  <% flash.each do |type, message| %>
    <div class="alert <%= bootstrap_flash_class(type) %> fade in">
      <%= message %>
      <a class="close" data-dismiss="alert">
        <i class="glyphicon glyphicon-remove"></i>
      </a>
    </div>
  <% end %>

  <%= yield %>
</div>


<!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_ACCESS_KEY'] %>&callback=initMap"
    async defer></script>
</body>
</html>
